# /node_modules/* and /bower_components/* ignored by default

# Ignore build directory
/build/**/*

# ignore built styleguide directory
/styleguide/**/*

# ignore the styleguide config file
styleguide.config.js

# ignore built coverage directory
/coverage/**/*
